#container {
	font-family: "Century Gothic", "Arial";
	margin: 0 auto;
	margin-top: 10%;
	text-align: center;
}

#container h1 {
	font-size: 60px;
	margin-bottom: 2em;
}

#container a {
	background-color: white;
	color: orange;
	width: 200px;
	display: block;
	font-weight: 700;
	margin: 0 auto;
	margin-bottom: 2em;
	padding: 1em 2em;
	border-radius: 5px;
	border: 2px solid orange;
	text-decoration: none;
	transition: all 0.15s ease-in-out;
}

#container a:hover {
	background-color: orange;
	color: white;
	border: 2px solid white;
}